@import (inline) "normalize.css";
@import (inline) "main.css";

// =====================
// resets, overridings
// =====================

* {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// =====================
// common
// =====================

body {

}

// =====================
// block specific
// =====================

